flask
flask-cors
flask-socketio
flask-compress
simple-websocket
requests
python-dotenv
pytz
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-storage
jinja2
Pillow
twilio
boto3
psycopg2-binary
openai
weasyprint
matplotlib
